.CouponsContainer{
    display: grid;
    grid-template-rows: 3vmin auto;
    grid-template-columns: 100%;
    grid-template-areas:
        'Pages'
        'Coupons'
        ;
    justify-content: center;
}

.Pages{
    grid-area: Pages;
}

.Coupons{
    grid-area: Coupons;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    overflow-y: auto;
    max-height: 100%;
}