.layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 87% 3%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}

.layout.no-aside {
  grid-template-columns: 0% 100%;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.filters-menu {
  grid-area: aside;
}

.main {
  grid-area: main;
  overflow-y: auto;
}