.Header {
    display: grid;
    grid-template-rows: 10vh;
    grid-template-columns: 10% 10% 10% auto 20%;
    grid-template-areas: 'logo button1 button2 hello search';
    background-image: url(../../Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
}

.Logo {
    grid-area: logo;
    padding: 2%;
    max-height: 96%;
    border-radius: 50%;
    cursor: pointer;
}

.AddButton{
    background-color: rgb(223, 250, 215);
}

.HeaderButton{
    background-color: rgb(215, 221, 250);
}

.AddButton, .HeaderButton{
    grid-area: button2;
    border: solid rgb(165, 126, 42);
    border-radius: 1vmin;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    height: 6vh;
    width: 8vw;
    cursor: pointer;
}

.AddButton:hover, .HeaderButton:hover{
    background-color: rgb(128, 156, 198);
    transform: scale(1.10);
    border: 0.5vmin solid;
    border-color: #4fffe7;
}

.Welcome {
    grid-area: hello;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(70, 70, 70);
    font-size: 2vmin;
    font-weight: 600;
    text-shadow: 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white, 0px 0px 15px white;
}

.dropdown {
    grid-area: button1;
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    border-radius: 1vmin;
    border: solid rgb(165, 126, 42);
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 8vw;
    box-shadow: 0vh 0.5vh 1vh 0vh rgba(0, 0, 0, 0.2);
    font-size: 1.2vmin;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

.dropdown-content a {
    border-radius: 1vmin;
    color: black;
    padding: 0.75vmin;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a.withBorder {
    border-top: 1px double #000000;
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: #a3b4ff;
    font-weight: 700;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.SearchBar {
    grid-area: search;
    background-color: antiquewhite;
    border: solid rgb(165, 126, 42);
    border-radius: 1vmin;
    transition: 0.3s;
    margin-right: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    text-align: center;
    height: 3vh;
}

.SearchBar:hover {
    transform: scale(1.10);
    border: 0.5vmin solid;
    border-color: #4fffe7;
    background-color: rgb(128, 156, 198);
}

.SearchBar:focus {
    outline: none;
    border: 0.5vmin solid;
    border-color: rgba(0, 123, 255, 0.8);
}

.HeaderModal {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid;
    border-color: rgb(165, 126, 42);
    background-color: rgba(46, 22, 2, 0.8);
    border-radius: 50%;
    box-shadow: -10px 5px 10px rgb(39, 3, 3), -10px 5px 50px rgb(39, 10, 9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Login{
    grid-area: button2;
}

#Register{
    grid-area: button1;
}

.ReturnButton{
    background-color: rgb(250, 215, 215);
    border: solid rgb(165, 126, 42);
    border-radius: 1vmin;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    height: 6vmin;
    width: 10vmin;
    cursor: pointer;
}

.ReturnButton:hover{
    background-color: rgb(128, 156, 198);
    transform: scale(1.10);
    border: 0.5vmin solid;
    border-color: #4fffe7;
}