.PurchasesList {
    margin: 1vmin;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vmin;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.5vmin;
}

thead {
    background-color: #333;
    color: #fff;
}

thead th {
    border-bottom: 0.2vmin solid #ddd;
}

th, td {
    padding: 0.6vmin;
    text-align: left;
}

td {
    border-bottom: 0.2vmin solid #000000;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

p {
    color: #555;
}

.Pages {
    grid-area: Pages;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 1.8vmin 0.5vmin;
    font-weight: 600;
}

.PageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 221, 250);
    border: 0.3vmin solid rgb(44, 42, 165);
    border-radius: 0.5vmin;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    height: 2vmin;
    width: 2vmin;
    cursor: pointer;
    padding: 1vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

.PageButton:hover {
    background-color: rgb(130, 198, 128);
    border-color: #64ff4f;
}