.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.Input,
.LoginButton {
    margin: 1vmin;
}

.Input {
    grid-area: search;
    background-color: antiquewhite;
    border: 0.3vmin solid rgb(165, 126, 42);
    border-radius: 1vmin;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    text-align: center;
    height: 3vh;
    width: 200%;
}

.Input:hover {
    transform: scale(1.10);
    border: 0.5vmin solid;
    border-color: #4fffe7;
    background-color: rgb(128, 156, 198);
}

.Input:focus {
    outline: none;
    border: 0.5vmin solid;
    border-color: rgba(0, 123, 255, 0.8);
}

.Input:invalid {
    background-color: #dfbabf;
    transition: all 1s;
}

.LoginButton {
    grid-area: button2;
    background-color: rgb(223, 250, 215);
    border: 0.3vmin solid rgb(165, 126, 42);
    border-radius: 1vmin;
    transition: 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmin;
    height: 6vmin;
    width: 10vmin;
    cursor: pointer;
}

.LoginButton:hover {
    background-color: rgb(128, 156, 198);
    transform: scale(1.10);
    border: 0.5vmin solid;
    border-color: #4fffe7;
}